{
  "dev": {
    "username": "root",
    "password": "",
    "database": "moveup_dev",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "local": {
    "username": "root",
    "password": "",
    "database": "moveup_local",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "moveup_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "moveup_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
